body {
  font-family: "EB Garamond", sans-serif;
}

#app {
  position: relative;
  top: 19vh;
  margin: auto;
}

#quote-box {
  padding: 1.5em;
  background-color: #041e31;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /* make it your own */
}

#text {
  font-size: 1.9em;
  font-weight: 500;
  color: #ac905d;
  transition: height 1s;
}

#author {
  font-size: 1.5em;
  text-transform: capitalize;
  text-align: right;
  color: #fff;
  margin: 7px 0px;
}

button {
  color: #041e31;
  background-color: #ac905d;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2em;
  padding: 0.5em;
}

h1 {
  font-size: 2.2em;
  color: #041e31;
  text-decoration: underline #ac905d;
  text-align: center;
}

.fa {
  margin-left: 5px;
  padding: 0.57em;
  font-size: 1.2em;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-twitter {
  background: #ac905d;
  color: #041e31;
}

/* media queries to position quote box */

@media (min-width: 800px) {
  #app {
    width: 50vw;
  }
}

@media (max-width: 450px) {
  body {
    font-size: 14px;
  }
  #app {
    top: 13vh;
  }
  #new-quote,
  a {
    position: fixed;
    bottom: 10px;
  }
  #new-quote {
    right: 10px;
  }
  a {
    left: 10px;
  }
}
