:root {
  --radius: 40;
  --circumference: calc(2 * (22 / 7) * var(--radius));
}
  
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

#app {
  width: 90%;
  max-width: 700px;;
  text-align: center;
}

.timer-setting, #timer-label {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 5px;
  border: 1px solid black;
}

.timer-setting span {
  margin: 0 9px;
}

.timer-setting p {
  margin-top: 5px;
}

#timer-label svg{
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
}

svg circle {
  stroke-width: 5;
  fill: none;
  stroke-linecap: butt;
  r: var(--radius);
} 

svg .progress-outer {
  stroke: #dee2e6;
}

svg .progress-inner {
  stroke: #d8503a;
  stroke-dasharray: var(--circumference);
  stroke-dashoffset: var(--circumference);
}